<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageSources>
        <clear />

        <!-- GitHub Packages -->
        <add key="GitHub" value="https://nuget.pkg.github.com/vmetreveli/index.json" />

        <!-- Official NuGet -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

</configuration>